Question 1

In [1]:
a=0

def b():
    global a
    a=c(a)
    
def c(a):
    return a+2

print(b())
print(b())
print(b())
print(a)

None
None
None
6

Question 2

In [21]:
def file_length(file):
    try:
        file = open(file)
        contents = file.read()
        file.close()
        print(len(contents))
    
    except:
        print("File {} not found error.".format(file))

In [25]:
file_length('Filelength.txt')

File Filelength.txt not found error.

In [24]:
file_length("Filelength.txt")

File Filelength.txt not found error.

Question 3

In [32]:
class Marsupial:
    def __init__(self,x,y):
        self.pouch=[]
        
    def put_in_pouch(self,items):
        self.pouch.append(items)
        
    def pouch_contents(self):
        return self.pouch
    
    
    
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        super().__init__(x,y)
        self.dx = 0
        self.dy = 0
    
    def jump(self,x,y):
        self.dx = self.dx + x
        self.dy = self.dy + y
    
    def __str__(self):
        return('I am a Kangaroo located at coordinates({},{})'.format(self.dx,self.dy))

In [33]:
k = Kangaroo(0,0) 
print(k)

I am a Kangaroo located at coordinates(0,0)

In [34]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [35]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates(3,0)

Question 4

In [39]:
def collatz(x):
    print (round(x))
    if(x==1):
        return 1
    elif(x%2==0):
        return collatz(x/2)
    elif(x%2!=0):
        return collatz(3*x+1)
    
    collatz(1)
    collatz(10)

Question 5

In [12]:
def binary (n):
    if n < 2:
        print(n)
    else:
        x='{0:b}'.format(n)
        print(x)
        
binary(0)
binary(1)
binary(3)
binary(9)

0
1
11
1001

Question 6

In [41]:
from html.parser import HTMLParser

test_param = False
count = 0

def space_generator(count):
    space_str =""
    for i in range(0, count):
        space_str +=""
    return space_str

class Headingparser(HTMLParser):
    def handle_data(self,data):
    gloabl test_param
    if tag in ['h1,h2']:
        test_param = True
        
    def handle_data(self,data):
        global test_param
        global count
        if test_param == True:
            test_param = False
            modified_data = space_generator(count) + data
            print(modified_data)
            count +=1
            
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = Headingparser()
hp.feed(content)

IndentationError: expected an indented block (3729193999.py, line 14)

Question 7

In [46]:
from urllib.parse import urljoin
from urllib.request import urlopen
from html.parser import HTMLParser

class Collector(HTMLParser):
    
    def __init__(self,url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
        
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http' :
                        self.links.append(absolute)
                        
    def getLinks(self):
        return self.links
    
    def webdir(url, depth, indent):
        
        try:
            depth_value = int(depth)
            indent_value = int(indent)
            
            if depth_value < 0 or indent_value < 0:
                raise ValueError
                
            resource = urlopen(url)
            content = resource.read().decode()
            collector = Collector(url)
            collector.feed(content)
            links = collector.getLinks()
            
            if indent_value == 0:
                print('{}'.format(url))
                
            indent_value += 4
            depth_value = depth_value-1
            
            if depth_value >= 0:
                for link in links:
                    print ('{}{}'.format(indent_value*' ',link), end = '\n')
                    if (depth_value) > 0:
                        webdir(link, depth_value, indent_value)
                        
        except ValueError:
            
                print("Enter a correct value for depth or indent")

In [47]:
webdir('http://reed.cs.depaul.edu/lperkovic/one.html', 2, 0)

NameError: name 'webdir' is not defined

Question 8

In [48]:

import sqlite3
con = sqlite3.connect('DBfile.db')
cur = con.cursor()
cur.execute("CREATE TABLE Weather (City text, Country text, Season text,Temperature float,Rainfall float)")
cur.execute("INSERT INTO Weather VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")
cur.execute("INSERT INTO Weather VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")
cur.execute("INSERT INTO Weather VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4 )")
cur.execute("INSERT INTO Weather VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")
cur.execute("INSERT INTO Weather VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7 )")
cur.execute("INSERT INTO Weather VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")
cur.execute("INSERT INTO Weather VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")
cur.execute("INSERT INTO Weather VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")
cur.execute("INSERT INTO Weather VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")
cur.execute("INSERT INTO Weather VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")
cur.execute("INSERT INTO Weather VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")
cur.execute("INSERT INTO Weather VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")

In [49]:
cur.execute('SELECT * FROM Weather')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [50]:
cur.execute('SELECT temperature FROM Weather')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [51]:
cur.execute('SELECT DISTINCT City FROM Weather')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [52]:
cur.execute("SELECT * FROM Weather WHERE Country='India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [53]:
cur.execute("SELECT * FROM Weather WHERE Season='Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [54]:
cur.execute("SELECT City,country,Season FROM Weather WHERE Rainfall BETWEEN 200 AND 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [55]:
cur.execute("SELECT City,country FROM Weather WHERE Season='Fall' AND temperature > 20 ORDER BY temperature ASC")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [56]:
cur.execute("SELECT SUM(Rainfall) FROM Weather WHERE City='Cairo'")
cur.fetchall()

[(27.6,)]

In [57]:
cur.execute("SELECT SUM(Rainfall) FROM Weather GROUP BY Season")
cur.fetchall()

[(569.0,), (192.29999999999998,), (1706.5,), (230.1,)]

Question 9

In [19]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
arr=[]
for i in words:
    array=[]
    array.append(i.upper())
    array.append(i.lower())
    array.append(len(i))
    arr.append(array)
print(arr)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [18]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
words5 = [word for word in words if len(word) >=4]
print(words5)

['quick', 'brown', 'jumps', 'over', 'lazy']

In [17]:
words = ["The", "quick", "brown", "fox", "jumps", "over", "the", "lazy", "dog"]
words = [string.upper() for string in words]
print(words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [16]:
words = ["The", "quick", "brown", "fox", "jumps", "over", "the", "lazy", "dog"]
words = [string.lower() for string in words]
print(words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [15]:
numbers =[3,5,5,3,5,4,3,4,3]
print("The length of the words in list", len(numbers))

The length of the words in list 9